<!DOCTYPE html>
<html>
  <head>
    <title>IdeasOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar fixed-top  navbar-light bg-light">
      <div class="">
        <a class="navbar-brand" style="color: black; font-size: 2rem" href="/">Idea Factory</a>
      </div>
      <div class="form-inline">
        <% if user_signed_in? %>
          <span> Hello, <%=current_user.first_name%> !</span>
          |
          <%= link_to 'Sign Out', session_path, method: :delete %>
        <% else %>
          <a class="nav-link" href="/session/new">Sign In</a>
          |
          <a class="nav-link" href="/users/new">Sign Up</a>
        <% end %>
        <a class="btn btn-outline-dark" href="/ideas/new">New Idea</a>
      </div>
    </nav>

    <div class="container-fluid" style="margin-top: 90px">
      <% if flash[:notice].present? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% elsif flash[:alert].present? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
